talks/*.tex

*.zip
*.stamp

.juliahistory
.Rhistory
_region_.tex

*~
*.tar.gz
*.out
*.fdb_latexmk
*.ttt
*.lot
*.lof
*.fff
*.fls
*.Rout
*.dvi
*.mk
*.aux
*.bbl
*.blg
*.log
*.nav
*.db
*.snm
*.toc
*.tof
*.tot

lib/
oosbootstrap.sh
oosbootstrap.pdf

*.stderr
*.stdout
