empirics.out/*
montecarlo.out/*

.juliahistory
.Rhistory
_region_.tex

*~
*.tar.gz
*.out
*.fdb_latexmk
*.ttt
*.lot
*.lof
*.fff
*.fls
*.Rout
*.dvi
*.mk
*.aux
*.bbl
*.blg
*.log
*.pdf
*.db
*.toc
*.tof
*.tot

lib/
